@use '../../varsCSS.scss' as vars;

.header{
    display: flex;
    flex-direction: row;
    background-color: #10101DE5;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    padding-left: vars.$globalPaddings;
    padding-right: vars.$globalPaddings;
    top: 0;
    z-index: 1000;
    height: vars.$headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    @media (min-width: 320px) and (max-width: 480px){
        flex-direction: column;
        position: static;
        height: 4rem;
        padding-left: 0rem;
        padding-right: 0rem;
        background-color: #10101d;     

    }

    @media (min-width: 481px) and (max-width: 768px){
        flex-direction: column;
        position: static;
        height: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        background-color: #10101d;     

    }

     @media (min-width: 768px) and (max-width: 1024px){
        padding-left: 1rem;
        padding-right: 0rem;
    }



}