@use '../../varsCSS.scss' as vars;


.workSheme{
    background-image: url('../../../public/BG.svg');
    background-color: vars.$darkBackground;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 5rem;
    @media (min-width: 320px) and (max-width: 480px){
        position: static;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        position: static;
        margin-top: -13rem;    
    }
    @media (min-width: 769px) and (max-width: 840px) {
        position: static;
        margin-top: -16rem;    
    }
    @media (min-width: 841px) and (max-width: 1024px) {
        position: static;
        margin-top: -18rem;    
    }
     @media (min-width: 1025px) and (max-width: 1500px) {
        position: static;
        margin-top: -20rem; 
    }
}



.workShemeText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:vars.$headerHeight;
    flex-wrap: nowrap;
    font-weight: bold;
    font-size: 2rem;
    @media (min-width: 320px) and (max-width: 480px){
        font-size: 1rem;
    }
}

.workShemeWhiteColorText{
    color: vars.$fontWhiteColor;
}
.workShemeBluekColorText{
    padding-left: 0.5rem;
    color:#3E9CDC;
    @media (min-width: 320px) and (max-width: 480px){
        padding-left: 0.3rem;
    }
}

.downWorkShemeText{
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #BBBBBB;
    text-align: center;
    @media (min-width: 320px) and (max-width: 480px){
        font-size: 0.8rem;
        width: 280px;
    }
}

.downWorkShemeTextStyle{
    @media (min-width: 320px) and (max-width: 480px){
        display: flex;
        justify-content: center;
    }
}

.shemeAndDescription{
    @media (min-width: 320px) and (max-width: 480px){
        position: relative;
        transform: rotate(90deg);
        margin-top: 29rem;
        
    }
    @media (min-width: 481px) and (max-width: 608px) {
          margin-top: -9rem;
        transform: scale(0.35);
    }
    @media (min-width: 608px) and (max-width: 768px) {
        margin-top: -7rem;
        transform: scale(0.4);
    }
    @media (min-width: 769px) and (max-width: 840px) {
        margin-top: -5rem;
        transform: scale(0.6);
    }
    @media (min-width: 841px) and (max-width: 1024px) {
        margin-top: -5rem;
        transform: scale(0.65);
    }

    @media (min-width: 1025px) and (max-width: 1500px) {
        margin-top: -5rem;
        transform: scale(0.8);
    }
    
   
}
.workStepsSheme{
    margin-top: 6rem ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (min-width: 320px) and (max-width: 480px){
        padding-right: 25rem;
    }
}

.description {
    width: 150px;
    color: #FFFFFF;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    display: block;
    overflow: visible;
    white-space: normal;
    margin-top: 1rem;
    line-height: 1.3;
    font-size: 1em;
    @media (min-width: 320px) and (max-width: 480px){
        transform: rotate(270deg);
        padding-left: -5rem;
        
    }
  
    @media (min-width: 481px) and (max-width: 608px) {
            font-size: 1rem

    }
    @media (min-width: 608px) and (max-width: 768px) {
            font-size: 1.1rem
    }
     @media (min-width: 769px) and (max-width: 840px) {
            font-size: 1.1rem;
     }
       @media (min-width: 841px) and (max-width: 1024px) {
            font-size: 1.1rem;
     }

}