$fontWhiteColor:#FFFFFF;
$globalPaddings: 20%;
$headerFooterBckgColor:rgba(1, 0, 12, 0.445);
$headerButtonsHoverColor:#3E9CDC;
$headerHeight:4rem;
$stepsCircleColor:#286690;
$darkBackground: #10101d; 